/* Estilo para a lista de menu */
.menuItem {
    font-weight: bold;
}

/* Estilo para o título da página */
#pageTitle {
    font-size: 1.5rem;
    color: blue;
    background-color: red;
}

/* Estilo para os botões na barra de cabeçalho */
#headerBox .sapMBtn {
    margin-right: 0.5rem;
}

/* Estilo para o campo de texto de busca */
#inputCep {
    width: 100%;
    margin-bottom: 1rem;
}

/* Estilo para o botão de busca */
#btnBuscar {
    width: 100%;
    margin-bottom: 1rem;
}

/* Estilo para o resultado da busca */
#textResult {
    margin-top: 1rem;
}

/* Estilo para o histórico de buscas */
#vboxHistorico {
    background-color: aqua;
}

.buttonCss span {
    align-items: center !important;
    justify-content: center !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    height: 2.625rem !important;
    text-align: center !important;
    align-content: space-around !important;
}

.centerDiv {
    width: 25rem !important;
}